.top-container{
    background-color: #00B8DE;
}
.top-box{
    width: 100%;
    margin: 15px 20px;
}

#btn-new-book{
    background-color: #FFB500;
    font-family: Lato;
    color: white;
}

#filter-box label{
    font-weight: bold;
    font-family: Lato;
    font-size: 20px;
    color: #00273a;
}

.medium-container{
    background-color: #8BD3E6;
}

.bottom-container{
    border: 2px solid rgb(165, 21, 209);
}

/* Declare some variables */
/* Define Styles */
.current-page {
    font-size: 1.5rem;
    vertical-align: middle; 
}
  


.current-page {
    line-height: 1; 
}

